<footer class="footer">
    {% include './social-links.html' %}
    <p>Devarno Community Member 🚀</p>
    <p>
        {% if preferences_url %}
        <a target="_blank" rel="noopener noreferrer" href="{{ preferences_url }}">Preferences</a>
        | {% endif %}
        <a target="_blank" rel="noopener noreferrer" href="https://devarno.com/privacy.html">Privacy</a>
        | {% if unsubscribe_url %}
        <a target="_blank" rel="noopener noreferrer" href="{{ unsubscribe_url }}">Unsubscribe</a>
        | {% endif %}
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://devarno.com/?tab=support"
            class="footer-link"
            target="_blank"
            title="Visit DevArno"
        >
            Sponsors
        </a>
    </p>
</footer>
