<!DOCTYPE html>
<html>
    {% include './head.html' %}
    <body>
        <div class="container">
            {% include './banner.html' %}
            <div class="content">
                <p>Hey {{ name }},</p>
                <p>We're excited to share the latest updates to Devarno! Here's what's new:</p>
                <ul>
                    <li><strong>Feature One:</strong> {{ feature_one }}</li>
                    <li><strong>Feature Two:</strong> {{ feature_two }}</li>
                    <li>
                        <strong>And much more:</strong> Check out all the details in our
                        <a
                            href="{{ changelog_url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            style="text-decoration: none"
                        >
                            changelog </a
                        >.
                    </li>
                </ul>

                <div style="margin: 20px 0">
                    <h3 style="margin-top: 0">Have Feedback?</h3>
                    <p>
                        We're always eager to hear your thoughts! Share your feedback
                        <a
                            href="{{ feedback_url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            style="text-decoration: none"
                        >
                            here </a
                        >.
                    </p>
                </div>
                <p>
                    Questions? Simply reply to this email or
                    <a
                        href="https://devarno.com/?tab=contact"
                        target="_blank"
                        rel="noopener noreferrer"
                        style="text-decoration: none"
                    >
                        contact us </a
                    >.
                </p>
                <p>Thanks for being a valued part of the Devarno community!</p>

                <p>Cheers,<br />The Devarno Team</p>
            </div>
            {% include './footer.html' %}
        </div>
    </body>
</html>
