<div>
    <p style="font-size: 14px; color: #666">Find me on</p>
    <div style="display: flex; align-items: center; justify-content: center">
        <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap">
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://bsky.app/profile/devarno.com"
                    style="text-decoration: none"
                >
                    <img src="{{ base_url }}/static/social-bluesky.png" alt="Bluesky" class="social-link" />
                </a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://x.com/Dev4rno"
                    style="color: #000; text-decoration: none"
                >
                    <img src="{{ base_url }}/static/social-x.png" alt="X" class="social-link" />
                </a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://github.com/Dev4rno"
                    style="color: #24292e; text-decoration: none"
                    ><img src="{{ base_url }}/static/social-github.png" alt="GitHub" class="social-link"
                /></a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/alessandro-arn%C3%B2-630584117/"
                    style="color: #0077b5; text-decoration: none"
                    ><img src="{{ base_url }}/static/social-linkedin.png" alt="LinkedIn" class="social-link"
                /></a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://reddit.com/u/Dev4rno"
                    style="color: #ff4500; text-decoration: none"
                    ><img src="{{ base_url }}/static/social-reddit.png" alt="Reddit" class="social-link"
                /></a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.producthunt.com/@devarno"
                    style="color: #da552f; text-decoration: none"
                    ><img src="{{ base_url }}/static/social-producthunt.png" alt="ProductHunt" class="social-link"
                /></a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.codewars.com/users/Dev4rno"
                    style="color: #b1361e; text-decoration: none"
                    ><img src="{{ base_url }}/static/social-codewars.png" alt="CodeWars" class="social-link"
                /></a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://dev.to/devarno"
                    style="color: #0a0a0a; text-decoration: none"
                    ><img src="{{ base_url }}/static/social-dev.png" alt="Dev.to" class="social-link"
                /></a>
            </div>
            <div>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://discordapp.com/users/1011575429284499521"
                    style="color: #7289da; text-decoration: none"
                    ><img src="{{ base_url }}/static/social-discord.png" alt="Discord" class="social-link"
                /></a>
            </div>
        </div>
    </div>
</div>
