<div class="warning-block">
    <strong class="warning-title">WARNING</strong>
    <div style="display: flex; align-items: center; justify-content: center">
        <p class="warning-subtitle">
            This
            <a
                href="https://github.com/devArno88/pwplz"
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none; color: var(--primary-color-2)"
            >
                project</a
            >
            demonstrates
            <a
                href="https://fastapi.tiangolo.com/"
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none; color: var(--primary-color-2)"
                >FastAPI</a
            >'s flexibility in creating and transmitting server-side data. Password generation should always be
            performed client-side for optimal security. Use this tool at your own risk, and avoid generating passwords
            for sensitive accounts or critical data.
        </p>
    </div>
</div>
